body{
    margin: 0;
    padding: 0;
    
}
.nav ul{
    list-style: none;
    /* text-align: center; */
    
}
.nav nav{
    height: 40px;
}
.nav li{
    display: inline-block;
    justify-content: space-between;
    margin-right: 15px;
    color: black;
    height: 30px;
    padding-top: 8px;
    
    
    
}
.nav li:hover{
    background-color: rgb(19, 128, 0);
    
}
.nav li a{
    text-decoration: none;
    display: block;
    height: 30px;
}
.nav li a:hover{
    color: white;
    
}
.main{
    width: 100%;
    height: 70px;
    background-color: green;
    
}
.logo img{
    padding-top: 17px;
}


.nav2 li{
  display: inline-block;
  justify-content: space-between;
  margin-right: 25px;

}
#accounts{
    margin-left: 500px;
}
.nav2 a{
    text-decoration: none;
    color: white;
    font-weight: bold;
   
}
.nav2 ul{
    margin-top: -35px;
    height: 70px;
}
.nav2 li{
    height: 70px;
    
}
.nav2 li a{
    height: 70px;
    padding-top: 25px;
    padding-bottom: 25px;
   
    
}
.nav2 a:hover{
    background-color: rgb(0, 0, 0);
    
}
.content img{
    margin-left: 750px;
    height: 600px;
    width: 600px;
}
.content2{
    background-color:#c0c0c0;
    width: 750px;
    margin-top: -625px;
    height: 601px;
    margin-bottom: 100px;
}
.content2 h2 {
    margin-left: 150px;
    /* margin-bottom: 200px; */
    margin-top: 200px;
    font-size: 40px;

}
.parag h2{
    color: green;
    text-align: center;
}
.parag2{
    margin-bottom: 50px;
}
.parag2 p{
    margin-left: 200px;
    font-size: large;
}
footer{
    margin-top: 20px;
}
.about{
    margin-left: 50px;
}
.about h3{
    margin-bottom: 10px;
    margin-left: 40px;
}
.about ul{
    list-style: none;
   
}
.about a{
    text-decoration: none;
    color: black;
}
.about a:hover{
    color: blue;
}
.quick{
    margin-left: 500px;
    margin-top: -145px;
}
.quick h3{
    margin-left: 40px;
    margin-bottom: 10px;
}
.quick ul{
    list-style: none;
}
.quick a{
    text-decoration: none;
    color: black;
}
.quick a:hover{
    color: blue;
}
.contacts{
    margin-left: 900px;
    margin-top: -180px;
}
.contacts h3{
    margin-left: 50px;
}
.contacts ul{
    list-style: none;
}
.contacts a{
    text-decoration: none;
}
.contacts li{
    display: inline-block;
}
#instagram  {
    width: 50px;
    height: 50px;
}
#whatsapp{
    width: 50px;
    height: 50px;
}
#youtube{
    width: 50px;
    height: 50px;
}
#twitter{
    width: 50px;
    height: 50px;
}
#tiktok{
    width: 50px;
    height: 50px;
}
#insta{
    width: 50px;
    height: 50px;c
}
.final{
    background-color: black;
    margin-top: 100px;
    width: 100%;
    height: 150px;
}
.final p{
    display: inline-block;
    color: white;
    padding-top: 50px;
}
#codes{
    margin-left: 170px;
}
span{
    color: green;
  
    
}
